.mb-5{
  margin-bottom: 5px;
}

.mb-15{
  margin-bottom: 15px;
}

.mt-15{
  margin-top: 15px;
}

.mb-30{
  margin-bottom: 30px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.mb-xs-10{
  @media only screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.pt-20{
  padding-top: 20px;
}

.pt-30{
  padding-top: 30px;
}

.pb-50{
  padding-bottom: 50px;
  @media only screen and (max-width: 767px) {
    padding-bottom: 30px;
  }
}

.pb-60{
  padding-bottom: 60px;
  @media only screen and (max-width: 575px) {
    padding-bottom: 30px;
  }
}