$color-green: #74c241;
$color-gray: #6b7886;
$color-gray_2: #f4f5f6;
$color-blue: #009ff4;
$color-black: #000000;
$color-white: #ffffff;
$color-pink: #eb4d86;
$color-pink_2: #e42469;
$color-dark_blue: #2c3f52;
$color-red: #ff3824;
$color-orange: #ffdd62;
$def-font-family: Arial,Helvetica,sans-serif;